*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Roboto, Arial;
  color: rgb(97,97,97);
  padding-left: 94px;
  padding-top: 80px;
  padding-right: 25px;
  background-color: rgb(245, 245, 245);
}