.header{
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header img{
  height: 24px;
  /* margin-left: 20px; */
  
}
.left{
  margin-left: 24px;
  display: flex;
  align-items: center;
  width: 210px;
  flex-shrink: 0;
}

.left .logo-icon{
  height: 20px;
  margin-left: 25px;
}

.middle{
  /* padding-left: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.search{
  height: 40px;
  padding-left: 10px;
  /* margin-left: 16px; */
  border-radius: 2px;
  border: 1px solid rgb(170, 170, 170);
  box-shadow: inset .5px .5px 2px  rgba(97, 97, 97, .3);
  flex: 1;
  width: 0;
  max-width: 385px;

}
.search::placeholder{
  font-size: 14px;
}
.search-icon-wrap{
  height: 40px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -2px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(170, 170, 170);
}

.voice-icon-wrap{
  border-radius: 50%;
  margin-left: 10px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  height: 40px;
  background-color: rgb(240, 240, 240);
}

.right{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  flex-shrink: 0;
}

.header .user-profile{
  height: 34px;
}

.notifications-icon-wrap{
  position: relative;
}

.notifications-icon-wrap .number{
  position: absolute;
  display: inline-block;
  top: -3px;
  right: -6px;
  background-color: rgb(153, 0, 0);
  color: white;
  padding: 1.6px 5px;
  font-size: 12px;
  border-radius: 50%;
  /* width: 20px;
  height: 20px; */
}

.search-icon-wrap,
.voice-icon-wrap,
.upload-icon-wrap,
.youtube-apps-icon-wrap,
.notifications-icon-wrap{
  position: relative;
}
.tooltip{
  white-space: nowrap;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: -35px;
  background-color: #666;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity .25s;
  pointer-events: none;
}

.search-icon-wrap:hover .tooltip,
.voice-icon-wrap:hover .tooltip,
.upload-icon-wrap:hover .tooltip,
.youtube-apps-icon-wrap:hover .tooltip,
.notifications-icon-wrap:hover .tooltip{
  opacity: 1;
}