.sidebar{
  z-index: 100;
  position: fixed;
  width: 76px;
  top: 60px;
  left:0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.sidebar-ele{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  cursor: pointer;
  flex-shrink: 0;

}
.sidebar-ele:hover{
  background-color: rgb(224, 224, 224);
}
.sidebar-ele img{
  height: 24px;
}
.sidebar-ele span{
  font-size: 10px;
  margin-top: 4px;
  color: black;
}